body{
  background-color: black;

}
.title {
  color: orange;
}
.contents{
  color:white;
}
.comment{
  padding-top:20px;
  color:white;
}
.explain{
  padding-top:40px;
  color:white
}
.btn{
  color:yellow;
  display:inline-block;
  background-color: red;
}
